body
{
	font-family: Tahomahoma, Geneva, sans-serif;
	color: #fff;
	background: url("image/LO.JPEG")no-repeat;
}

.singin
{
	background: rgba(44, 62, 80, 0.7);
	padding: 40px;
	width: 250px;
	margin: auto;
	margin-top: 80px;
	height: 400x;
	margin: 180px;
	margin: 0 auto;
	margin-top:90px;
}

.form
{
	width: 100px;
	text-align: center;
    
}
input
{
	width: 240px;
	text-align: center;
	background: transparent;
	border-bottom: 0.1px solid #fff;
	font-family: `play`, sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #2B7A78;
}

input[type=button]
{
	border: none;
	width: 190px;
	border-color: #3AAFA9;
	color: #DEF2F1;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
	border-color: #3AAFA9;
	background-color: black;
}
}

input[type=button]:hover
{
	color: #2B7A78;
	background-color: #2B7A78;
}
h2
{
	color: #3AAFA9;
}
a
{
	
	color: #3AAFA9;
	text-decoration: blink;
}
a:hover
{
	
	color: #2B7A78;
}
.container
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
::placeholder
{
	color: aliceblue;
	opacity: 0.8; /* firefox */
}

