<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoadBrands</servlet-name>
        <servlet-class>controler.LoadBrands</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProducts</servlet-name>
        <servlet-class>controler.LoadProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadLocations</servlet-name>
        <servlet-class>controler.LoadLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controler.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSellerDetails</servlet-name>
        <servlet-class>controler.LoadSellerDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadBrands</servlet-name>
        <url-pattern>/LoadBrands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProducts</servlet-name>
        <url-pattern>/LoadProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadLocations</servlet-name>
        <url-pattern>/LoadLocations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSellerDetails</servlet-name>
        <url-pattern>/LoadSellerDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
