.search{
    border: solid #0066ff 0.5px ;
}

.search td{
    padding:20px;
}

.ptable{
    border: none ;
    width: 90% ;
    min-height: 350px;
    float: left ;
    overflow-y: auto;
}
.ptable tr{
    display: inline-block;
    border: solid black  ;
    padding: 10px;
    margin: 20px ;
    min-width: 30%;
    max-width: 30%;
    width: 30%;
}

.ptable td{
    display: table-row;
}

.ptable td img{
    height: 250px ;
}

.pdetails{
    border: #ccccff dashed ;
    border-radius: 30px;
    float: right ;
    display: inline-block;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 25px 50px 20px;
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.pdetails img{
    height: 150px;
}

#title{
    font-size: 35px;
    font-style: italic;
    font-weight: bold ;
    margin-bottom: 10px;
}
#sub-title{
    font-size: 25px;
    font-weight: bold ;
    color: #666666 ;
}

#search-button{
    background-color: #3399ff;
    color: #ffffff ;
    height: 40px ;
    width: 100px ;
    border: none ;
    border-radius: 30px;
}

.search select{
    height: 30px ;
    border: #6fa8e2 solid 0.5px;
    border-radius: 5px;
    width: 200px ;
    
}

.search input{
    height: 30px ;
    border: #6fa8e2 solid 0.5px;
    border-radius: 5px;
    width: 200px ;
    padding-left: 5px;
}

.search span{
    width: 200px;
    padding-right: 5px;
}

.ptable button{
    background-color: #0574e3;
    color: #ffffff ;
    width: available;
    border: none ;
    padding: 15px;
    border-radius: 30px;
}